#saas_3 body{
   
    font-family: Poppins;
 }
 #saas_3 .content-wrapper{
   font-family: Poppins;
 }
 #saas_3 .left_col{
        display: flex;
        background: #F8F9FAFF; /* neutral-150 */
        border-radius: 0px; 
        box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f; /* shadow-m */
        padding: 1rem;
      
 }
 #saas_3 .set_up{
    display: flex;
    justify-content: center;
 }
 #saas_3 .below_set_up{
    display: flex;
    justify-content: center;
 }
 #saas_3 .tbelow_set_up{
    color: #9095A0FF;
    
 }
 #saas_3 .machine{
    display: flex;
 }
 #saas_3 .blog-card{
    background: #DEE1E6FF;
  border-radius: 0px;
 }